<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitHub API App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>TODO - complete this page</h1>
    
    <form method="GET" action="get_user">

        <label>Enter GitHub username</label>
        <input name="username">
        <button type="submit">Go!</button>

    </form>

</body>
</html>
